<template>
     <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            <div class="card-title">
                <h3 class="card-label">Товары
                </h3>
            </div>
            <div class="card-toolbar">
                <BaseCreateBtn
                    @click="addGood()"
                >Создать</BaseCreateBtn>
            </div>
        </div>
        <div class="card-body">
            <div class="dataTables_wrapper dt-bootstrap4 no-footer">
                <v-server-table
                    url="/admin/goods"
                    :columns="columns"
                    :options="options"
                    class="goods-table"
                    ref="goods-table"
                    >
                    <div slot="category_id" slot-scope="props">{{props.row.category.title}}</div>
                    <div slot="active" slot-scope="props">{{props.row.active == true ? 'Активен' : 'Неактивен'}}</div>
                    <div class="text-center" slot="actions" slot-scope="props" style="width: 100px">
                        <div class="dropdown dropdown-inline">
                            <BaseTableEditBtn
                                @click="editGood(props.row)"
                            />

                            <BaseTableDeleteBtn
                                @click="deleteGood(props.row.id)"
                            />

                        </div>
                    </div>
                </v-server-table>
            </div>
            <modal
                name="good-form"
                height="auto"
                :scrollable="true"
                :adaptive="true"
                >
                <GoodForm
                    :good="good"
                    @onSave="$refs['goods-table'].refresh()"
                />
            </modal>
        </div>
    </div>
</template>

<script>

import GoodForm from '@/components/goods/Form';
import {vueTableMixin} from '@/views/mixins/vueTableMixin';

export default {

    name: 'Index',
    mixins: [vueTableMixin],
    components: {GoodForm},

    data () {
        return {
            good: null,
            columns: ['id', 'good_title', 'category_id', 'good_type', 'good_left', 'seo_slug', 'active', 'actions'],
            options: {
                headings: {
                    good_title: 'Название',
                    category_id: 'Категория',
                    good_type : 'Тип',
                    good_left: 'Остаток',
                    seo_slug: 'Slug',
                    active: 'Статус',
                    actions: 'Действия'
                },
                filterable: true
            }
        }
    },

    methods: {
        addGood() {
            this.good = null;
            this.$modal.show('good-form')
        },

        editGood(good) {
            this.good = good;
            this.$modal.show('good-form')
        },

        deleteGood(id) {
            this.$confirm('Вы действительно хотите удалить этот товар')
                .then(() => {
                    this.$axios.delete(`/admin/goods/${id}`).then(() => {
                        this.$refs['goods-table'].refresh()
                        this.$notify({
                          title: 'Success',
                          message: 'Товар успешно удален',
                          type: 'success'
                        });
                    });

                })
                .catch(() => {
                    this.$notify.error({
                        title: 'Error',
                        message: 'Ошибка удаления товара'
                    });
                });
        }
    }


}
</script>
<style>
    .goods-table table th:nth-child(8), table td:nth-child(8) {
        text-align: center;
        width: 20px;
    }
</style>
