<template>
  <div class="card card-custom">

    <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <div class="card-title">
        <h3 class="card-label">Статистика расходов
        </h3>
      </div>
      <div class="card-toolbar">

        <a href="javascript:void(0)" class="btn btn-primary font-weight-bolder" @click="addCost()">
          <span class="svg-icon svg-icon-md"><!--begin::Svg Icon | path:/metronic/themes/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Flatten.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"></rect>
                <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                <path
                    d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                    fill="#000000" opacity="0.3"></path>
              </g>
            </svg><!--end::Svg Icon-->
          </span>
          Создать расход
        </a>
        <!--end::Button-->
      </div>
    </div>

    <modal name="add-category" :height="'auto'">

      <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
          <h3 class="card-title">Создание нового расхода</h3>
          <div class="card-toolbar">
            <div class="example-tools justify-content-center">

            </div>
          </div>
        </div>
        <form class="modal__task" @submit.prevent="createCost()">

          <label for="categories">Категория расхода</label>
          <select class="form-control" id="categories" v-model="new_cost.category_id">
            <option :value="null">Категория не выбрана</option>
            <option :key="category.id" :value="category.id" v-for="category in categories">{{category.slug}}</option>
          </select>

          <br>
          Дата расхода
          <div class="p-0 mt-6">
            <date-picker v-model="new_cost.date" valueType="format"></date-picker>
          </div>

          <div class="form-group">
            <label for="title">Расход в рублях</label>
            <input type="text" v-model="new_cost.price" class="form-control" name="title" id="title">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Описание расхода</label>
            <textarea class="form-control" v-model="new_cost.description" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
      </div>

    </modal>

  </div>
</template>

<script>

import {vueTableMixin} from '@/views/mixins/vueTableMixin';
// import axios from "axios";

export default {

  name: 'Index',
  mixins: [vueTableMixin],

  data () {
    return {
      edit_project: {},
      categories: {},
      new_cost: {},
      url: '/cost/cost?',
      urlBase: '/cost/cost?',
      query: '',
      filter: {
        project: null,
        status: null,
        date: null,
      },
      columns: [
        'id',
        'category',
        'price',
        'description',
        'created_at',
        'actions'
      ],
      options: {
        headings: {
          category: 'Категория расхода',
          price: 'Стоимость',
          description: 'Описание расхода',
          created_at: 'Дата создания',
          actions: 'Действия'
        },
      }
    }
  },

  methods: {}

}
</script>

<style scoped>

</style>