<template>

    <div class="flex-row-fluid ml-lg-8">
        <!--begin::Card-->
        <div class="card card-custom card-stretch">
            <!--begin::Header-->
            <div class="card-header py-3">
                <div class="card-title align-items-start flex-column">
                    <h3 class="card-label font-weight-bolder text-dark">Настройки профиля</h3>
                    <span class="text-muted font-weight-bold font-size-sm mt-1">Обновление персональной информации</span>
                </div>
                <div class="card-toolbar">
                    <button type="reset" class="btn btn-success mr-2">Сохранить изминения</button>
                </div>
            </div>
            <!--end::Header-->
            <!--begin::Form-->
            <form class="form">
                <!--begin::Body-->
                <div class="card-body">

                    <el-collapse class="accordion accordion-light accordion-toggle-arrow" @change="changeAcc" v-model="showTab" accordion>
                        <el-collapse-item :name="1" class="card">
                            <template slot="title">
                                <div class="card-header">
                                    <div class="card-title" v-bind:class="{'collapsed': showTab !== 1}">
                                        <i class="flaticon-lock"></i>Основные данные
                                    </div>
                                </div>
                            </template>
                            <div  class="collapse show" style="">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-right">Аватар</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="image-input image-input-outline" id="kt_profile_avatar" style="background-image: url(/assets/media/users/300_21.jpg)">
                                                <div class="image-input-wrapper" style="background-image: url(assets/media/users/300_21.jpg)"></div>
                                                <label class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                                                    <i class="fa fa-pen icon-sm text-muted"></i>
                                                    <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                                                    <input type="hidden" name="profile_avatar_remove" />
                                                </label>
                                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
																	<i class="ki ki-bold-close icon-xs text-muted"></i>
																</span>
                                                <span class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow" data-action="remove" data-toggle="tooltip" title="Remove avatar">
																	<i class="ki ki-bold-close icon-xs text-muted"></i>
																</span>
                                            </div>
                                            <span class="form-text text-muted">Поддерживаемые типы файлов: png, jpg, jpeg.</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-right">Имя</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control form-control-lg form-control-solid" type="text" value="Nick" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-right">Фамилия</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <input class="form-control form-control-lg form-control-solid" type="text" value="Bold" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-right">Телефон</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="input-group input-group-lg input-group-solid">
                                                <div class="input-group-prepend">
																	<span class="input-group-text">
																		<i class="la la-phone"></i>
																	</span>
                                                </div>
                                                <input type="text" class="form-control form-control-lg form-control-solid" value="+35278953712" placeholder="Phone" />
                                            </div>
                                            <span class="form-text text-muted">We'll never share your email with anyone else.</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-right">Email</label>
                                        <div class="col-lg-9 col-xl-6">
                                            <div class="input-group input-group-lg input-group-solid">
                                                <div class="input-group-prepend">
																	<span class="input-group-text">
																		<i class="la la-at"></i>
																	</span>
                                                </div>
                                                <input type="text" class="form-control form-control-lg form-control-solid" value="nick.bold@loop.com" placeholder="Email" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </el-collapse-item>
                        <el-collapse-item :name="2" class="card">
                            <template slot="title">
                                <div class="card-header">
                                    <div class="card-title" v-bind:class="{'collapsed': showTab !== 2}">
                                        <i class="flaticon-lock"></i>Настройки пароля
                                    </div>
                                </div>
                            </template>
                            <div  class="collapse show" style="">
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Пароль</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid" type="text" />
                                        <a href="#" class="text-sm font-weight-bold">Забыл пароль ?</a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Новый пароль</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <div class="input-group input-group-lg input-group-solid">
                                            <input :type="showPassword ? 'string' : 'password'" class="form-control form-control-lg form-control-solid" placeholder="Username" v-model="form.password" />
                                            <div class="input-group-append cursor-pointer" @click="showPassword = !showPassword">
                                                <span class="input-group-text">
                                                    <i class="la la-eye-slash" v-if="!showPassword"></i>
                                                    <i class="la la-eye" v-else></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label text-right">Подтверждение</label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input class="form-control form-control-lg form-control-solid" type="text" />
                                    </div>
                                </div>
                            </div>
                        </el-collapse-item>
                        <el-collapse-item :name="3" class="card">
                            <template slot="title">
                                <div class="card-header">
                                    <div class="card-title" v-bind:class="{'collapsed': showTab !== 3}">
                                        <i class="flaticon-bell-1"></i>Настройки уведомлений
                                    </div>
                                </div>
                            </template>
                            <div  class="collapse show" style="">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Communication:</label>
                                        <div class="checkbox-list">
                                            <label class="checkbox">
                                                <input type="checkbox"> Email
                                                <span></span>
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox"> SMS
                                                <span></span>
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox"> Phone
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </el-collapse-item>
                        <el-collapse-item :name="4" class="card">
                            <template slot="title">
                                <div class="card-header">
                                    <div class="card-title" v-bind:class="{'collapsed': showTab !== 4}">
                                        <i class="flaticon-statistics"></i>Активность
                                    </div>
                                </div>
                            </template>
                            <div  class="collapse show" style="">
                                <div class="card-body pt-4">
                                    <div class="timeline timeline-5 mt-3">
                                        <!--begin::Item-->
                                        <div class="timeline-item align-items-start">
                                            <!--begin::Label-->
                                            <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg text-right pr-3">08:42</div>
                                            <!--end::Label-->

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-success icon-xxl"></i>
                                            </div>
                                            <!--end::Badge-->

                                            <!--begin::Text-->
                                            <div class="timeline-content text-dark-50">
                                                Outlines of the recent activities that happened last weekend
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Item-->

                                        <!--begin::Item-->
                                        <div class="timeline-item align-items-start">
                                            <!--begin::Label-->
                                            <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg text-right pr-3">3 hr</div>
                                            <!--end::Label-->

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-danger icon-xxl"></i>
                                            </div>
                                            <!--end::Badge-->

                                            <!--begin::Content-->
                                            <div class="timeline-content d-flex">
                                                <span class="mr-4 font-weight-bolder text-dark-75">AEOL meeting with</span>

                                                <!--begin::Section-->
                                                <div class="d-flex align-items-start mt-n2">
                                                    <!--begin::Symbol-->
                                                    <a href="#" class="symbol symbol-35 symbol-light-success mr-2">
                            <span class="symbol-label">
                                <img src="/metronic/themes/metronic/theme/html/demo1/dist/assets/media/svg/avatars/004-boy-1.svg" class="h-75 align-self-end" alt="">
                            </span>
                                                    </a>
                                                    <!--end::Symbol-->

                                                    <!--begin::Symbol-->
                                                    <a href="#" class="symbol symbol-35 symbol-light-success">
                            <span class="symbol-label">
                                <img src="/metronic/themes/metronic/theme/html/demo1/dist/assets/media/svg/avatars/002-girl.svg" class="h-75 align-self-end" alt="">
                            </span>
                                                    </a>
                                                    <!--end::Symbol-->
                                                </div>
                                                <!--end::Section-->
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                        <!--end::Item-->

                                        <!--begin::Item-->
                                        <div class="timeline-item align-items-start">
                                            <!--begin::Label-->
                                            <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg text-right pr-3">14:37</div>
                                            <!--end::Label-->

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-info icon-xxl"></i>
                                            </div>
                                            <!--end::Badge-->

                                            <!--begin::Desc-->
                                            <div class="timeline-content font-weight-bolder text-dark-75">
                                                Submit initial budget -
                                                <a href="#" class="text-primary">USD 700</a>.
                                            </div>
                                            <!--end::Desc-->
                                        </div>
                                        <!--end::Item-->

                                        <!--begin::Item-->
                                        <div class="timeline-item align-items-start">
                                            <!--begin::Label-->
                                            <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg text-right pr-3">16:50</div>
                                            <!--end::Label-->

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-danger icon-xxl"></i>
                                            </div>
                                            <!--end::Badge-->

                                            <!--begin::Text-->
                                            <div class="timeline-content text-dark-50">
                                                Stakeholder meeting scheduling.
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Item-->

                                        <!--begin::Item-->
                                        <div class="timeline-item align-items-start">
                                            <!--begin::Label-->
                                            <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg text-right pr-3">17:30</div>
                                            <!--end::Label-->

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-success icon-xxl"></i>
                                            </div>
                                            <!--end::Badge-->

                                            <!--begin::Text-->
                                            <div class="timeline-content text-dark-50">
                                                Project scoping &amp; estimations with stakeholders.
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Item-->

                                        <!--begin::Item-->
                                        <div class="timeline-item align-items-start">
                                            <!--begin::Label-->
                                            <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg text-right pr-3">21:03</div>
                                            <!--end::Label-->

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-warning icon-xxl"></i>
                                            </div>
                                            <!--end::Badge-->

                                            <!--begin::Desc-->
                                            <div class="timeline-content font-weight-bolder text-dark-75">
                                                New order placed <a href="#" class="text-primary">#XF-2356</a>.
                                            </div>
                                            <!--end::Desc-->
                                        </div>
                                        <!--end::Item-->

                                        <!--begin: Item-->
                                        <div class="timeline-item align-items-start">
                                            <!--begin::Label-->
                                            <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg text-right pr-3">21:07</div>
                                            <!--end::Label-->

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-danger icon-xxl"></i>
                                            </div>
                                            <!--end::Badge-->

                                            <!--begin::Text-->
                                            <div class="timeline-content text-dark-50">
                                                Company BBQ to celebrate the last quater achievements and goals.
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end: Item-->

                                        <!--begin::Item-->
                                        <div class="timeline-item align-items-start">
                                            <!--begin::Label-->
                                            <div class="timeline-label font-weight-bolder text-dark-75 font-size-lg text-right pr-3">20:30</div>
                                            <!--end::Label-->

                                            <!--begin::Badge-->
                                            <div class="timeline-badge">
                                                <i class="fa fa-genderless text-info icon-xxl"></i>
                                            </div>
                                            <!--end::Badge-->

                                            <!--begin::Text-->
                                            <div class="timeline-content text-dark-50">
                                                Marketing campaign planning with customer.
                                            </div>
                                            <!--end::Text-->
                                        </div>
                                        <!--end::Item-->
                                    </div>
                                    <!--end: Items-->
                                </div>
                            </div>
                        </el-collapse-item>
                    </el-collapse>

                </div>
                <!--end::Body-->
            </form>
            <!--end::Form-->
        </div>
    </div>

</template>


<script>

    export default {

        data() {
            return {
                showTab: 1,
                showPassword: false,
                form: {}
            }
        },

        methods: {

            changeAcc(val) {
                this.showTab = Number(val);
            }

        }

    }

</script>