<template>
  <div class="card-body p-0">
    <!-- begin: Invoice-->
    <!-- begin: Invoice header-->
    <div class="row justify-content-center py-8 px-8 px-md-0">
      <div class="col-md-10">
        <div class="d-flex justify-content-between  flex-column flex-md-row">
          <h3 class="display-4 font-weight-boldest mb-10">Информация о заказе</h3>
          <div class="d-flex flex-column align-items-md-end px-0">
            <!--begin::Logo-->

            <!--end::Logo-->
<!--            <span class="d-flex flex-column align-items-md-end opacity-70">-->
<!--																	<span>Cecilia Chapman, 711-2880 Nulla St, Mankato</span>-->
<!--																	<span>Mississippi 96522</span>-->
<!--																</span>-->
          </div>
        </div>
        <div class="border-bottom w-100"></div>
        <div class="d-flex justify-content-between pt-6">
          <div class="d-flex flex-column flex-root">
            <span class="font-weight-bolder mb-2">Дата создания</span>
            <span class="opacity-70">{{order.created_at | moment('DD.MM.YY HH:mm')}}</span>
          </div>
          <div class="d-flex flex-column flex-root">
            <span class="font-weight-bolder mb-2">№ заказа</span>
            <span class="opacity-70">{{order.id}}</span>
          </div>
          <div class="d-flex flex-column flex-root">
            <span class="font-weight-bolder mb-2">Покупатель</span>
            <span class="opacity-70">{{ order.email }}
																</span>
          </div>
        </div>
      </div>
    </div>
    <!-- end: Invoice header-->
    <!-- begin: Invoice body-->
    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
      <div class="col-md-10">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="pl-0 font-weight-bold text-muted text-uppercase">Состав заказа</th>
              <th class="text-right font-weight-bold text-muted text-uppercase">Кол-во</th>
              <th class="text-right font-weight-bold text-muted text-uppercase">Цена за единицу</th>
              <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Итого</th>
            </tr>
            </thead>
            <tbody>

            <tr class="font-weight-boldest border-bottom-0" v-for="(good, $goodIndex) in order.goods" :key="$goodIndex">
              <td class="border-top-0 pl-0 py-4 d-flex align-items-center">
                <!--begin::Symbol-->
                <div class="symbol symbol-40 flex-shrink-0 mr-4 bg-light">
<!--                  <div class="symbol-label" style="background-image: url('/metronic/theme/html/demo1/dist/assets/media/products/2.png')"></div>-->
                </div>
                <!--end::Symbol-->
                {{ good.good_title }}</td>
              <td class="border-top-0 text-right py-4 align-middle">{{good.pivot.quantity}}</td>
              <td class="border-top-0 text-right py-4 align-middle"><i class="la la-rub text-dark"></i>{{good.price_integer}}</td>
              <td class="text-primary border-top-0 pr-0 py-4 text-right align-middle"><i class="la la-rub text-dark"></i>{{ good.price_integer * good.pivot.quantity }}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- end: Invoice body-->
    <!-- begin: Invoice footer-->
    <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0 mx-0">
      <div class="col-md-10">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th class="font-weight-bold text-muted text-uppercase">Платежная система</th>
              <th class="font-weight-bold text-muted text-uppercase">Статус</th>

<!--              <th class="font-weight-bold text-muted text-uppercase">PAYMENT DATE</th>-->
              <th class="font-weight-bold text-muted text-uppercase text-right">Всего к оплате</th>
            </tr>
            </thead>
            <tbody>
            <tr class="font-weight-bolder">
              <td>{{ order.payment.service_title }}<br>
                <span v-if="order.payment.service_title == 'blockchain'" class="font-size-xs">{{ order.additional_data && order.additional_data.address }}</span>
              </td>
              <td>
                <p class="text-success text-nowrap" v-if="order.status === 'succeeded'">Завершен</p>
                <p class="text-info text-nowrap" v-else-if="order.status=== 'requested'">В обработке</p>
                <p class="text-danger text-nowrap" v-else>Ошибка</p>
              </td>

<!--              <td>Jan 07, 2020</td>-->
              <td class="text-primary font-size-h3 font-weight-boldest text-right">
                <span v-if="order.payment.service_title == 'blockchain' && order.additional_data">{{ order.additional_data.amount }}{{ order.additional_data.currency }} </span>
              <span v-else>{{ order.total_sum }}</span></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row justify-content-start py-8 px-8 py-md-10 mx-0">
      <div class="col-md-10 font-size-h2">
        <p v-if="order.is_delivered" class="text-success">Заказ доставлен</p>
        <p v-else class="text-danger">Заказ не доставлен</p>
      </div>
    </div>
    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
      <div class="col-md-10">
        <div class="d-flex justify-content-between">
          <button type="button" class="btn btn-primary font-weight-bold" @click="$modal.show('sent-order')">Отправить товар</button>
          <button type="button" class="btn btn-primary font-weight-bold" @click="$modal.hide('order-modal');">Назад</button>
        </div>
      </div>
    </div>
    <modal name="sent-order" height="auto"
           :scrollable="true"
           :adaptive="true">
      <form>
        <div class="card-body">
        <BaseInput
            type="text"
            :label="'Email *'"
            v-model="form.email"
        />
        </div>
        <div class="card-footer">
          <BaseButton
              :disabled="isProcess"
              :loading="isProcess"
              @click.prevent="sendOrder()"
          >Отправить</BaseButton>
          <BaseButton btnClass="btn-secondary" @click.prevent="$modal.hide('sent-order')">Отменить</BaseButton>
        </div>
      </form>
    </modal>
  </div>
</template>

<script>
  export default {
    props: {order: Object},
    data(){
      return {
        isProcess: false,
        form: {
          email: this.order.email
        }
      }
    },
    methods: {
      sendOrder(){

        if (this.isProcess) return;

        this.isProcess = true;

        this.$axios.post(`/admin/orders/${this.order.id}/send`, this.form).then(response => {
          this.isProcess = false
          console.log(response)
          this.$notify.success('Заказ успешно отправлен')
          this.$emit('onSuccessDelivery')
        }).catch(() => {
          this.isProcess = false;
          this.$notify.error('Не удалось отправить email')
        })
      }
    }
  }
</script>