<template>
    <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
            <h3 class="card-title">Создание категории</h3>
            <div class="card-toolbar">
                <div class="example-tools justify-content-center">

                </div>
            </div>
        </div>
        <form>
            <div class="card-body">

                <BaseInput
                    type="text"
                    :label="'Название *'"
                    :error="errors.get('title')"
                    v-model="form.title"
                />
              <div class="form-group">
                <label>Родительская категория</label>
                <el-cascader
                    class="d-block"
                    :show-all-levels="false"
                    :value="form.category_id"
                    :options="categories"
                    :props="{ checkStrictly: true, value: 'id', label: 'title', children: 'child_category'}"
                    clearable
                    @change="changed">

                </el-cascader>
              </div>

                <br>
                <h3>Seo</h3>
                <BaseInput
                    type="text"
                    :label="'SEO h1'"
                    :error="errors.get('seo_h1')"
                    v-model="form.seo_h1"
                />

                <BaseInput
                    type="text"
                    :label="'SEO title'"
                    :error="errors.get('seo_title')"
                    v-model="form.seo_title"
                />

                <BaseInput
                    type="text"
                    :label="'SEO slug'"
                    :error="errors.get('seo_slug')"
                    v-model="form.seo_slug"
                />

                <BaseTextarea
                    rows="3"
                    :label="'SEO description'"
                    :error="errors.get('seo_description')"
                    v-model="form.seo_description"
                />

                <div class="form-group">
                    <label>Сортировка</label>
                    <el-select v-model="form.order" class="d-block">
                        <el-option
                            v-for="i in maxOrderItem"
                            :key="i"
                            :value="i"
                            :label="i">
                        </el-option>
                    </el-select>
                </div>

            </div>
            <div class="card-footer">
                <BaseButton @click.prevent="save()">Сохранить</BaseButton>
                <BaseButton btnClass="btn-secondary" @click.prevent="$emit('close')">Отменить</BaseButton>
            </div>
        </form>
    </div>
</template>

<script>

import {mapGetters} from 'vuex';
import {Errors} from '@/classes/Errors';

export default {

    name: 'Form',
    props: {
        category: Object
    },
    computed: {
    ...mapGetters('product', {
        'categories': 'getRootCategories'
    }),
    maxOrderItem(){
        return this.category
            ? Math.max(this.category.child_category.length, 10)
            : 10
    }

  },

    data () {
        return {
            form: this.initForm(),
            errors: new Errors()
        }
    },

    methods: {
      changed(e){
        this.form.category_id = e.length ? e.slice(-1)[0] : null;
      },

        initForm() {
            return {
                title: '',
                category_id: null,
                seo_h1: '',
                seo_title: '',
                seo_slug: '',
                seo_description: '',
                order: 0
            }
        },

        save() {

            let method = this.category ? 'updateCategory' : 'createCategory';

            this.$store.dispatch(`product/${method}`, this.form).then(() => {
                this.$emit('close');
                this.$modal.hide('category-form')

                this.form = this.initForm();    
            }).catch(error => {
                this.errors.set(error.response.data.errors);
                this.$notify.error({
                    message: 'Ошибка сохранения категории'
                });
            });

        }
    },
    created() {
        if (this.category) {
            this.form = Object.assign({}, this.initForm(), this.category);
        }
    }
}
</script>
