<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="<%= BASE_URL %>assets/css/pages/users/login-4.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <link href="<%= BASE_URL %>assets/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css">
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="<%= BASE_URL %>assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="<%= BASE_URL %>assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="<%= BASE_URL %>assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="<%= BASE_URL %>assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="<%= BASE_URL %>assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="<%= BASE_URL %>assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="<%= BASE_URL %>assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <link href="<%= BASE_URL %>assets/fonts/agavantgardecyr_book.css" rel="stylesheet" type="text/css" />
    <link href="<%= BASE_URL %>assets/fonts/stylesheet.css" rel="stylesheet" type="text/css" />
    <link href="<%= BASE_URL %>assets/css/custom.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="<%= BASE_URL %>assets/media/logos/favicon.ico" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

  </head>
  <body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
<!--  <script src="//www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer></script>-->
</html>
