<template>
  <div class="card card-custom">

    <div class="card-header flex-wrap border-0 pt-6 pb-0">
      <div class="card-title">
        <h3 class="card-label">Категории расходов
        </h3>
      </div>
      <div class="card-toolbar">

        <a href="javascript:void(0)" class="btn btn-primary font-weight-bolder" @click="addCategory()">
          <span class="svg-icon svg-icon-md"><!--begin::Svg Icon | path:/metronic/themes/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Flatten.svg-->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect x="0" y="0" width="24" height="24"></rect>
                <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                <path
                    d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                    fill="#000000" opacity="0.3"></path>
              </g>
            </svg><!--end::Svg Icon-->
          </span>
          Создать категорию
        </a>
        <!--end::Button-->
      </div>
    </div>

    <div class="card-body">

      <div class="dataTables_wrapper dt-bootstrap4 no-footer">
        <v-server-table
            :url="url"
            :columns="columns"
            :options="options"
            class="faq-table"
            ref="cost-category-table"
        >
          <div class="text-center" slot="actions" slot-scope="props" style="width: 100px">
            <div class="dropdown dropdown-inline">
              <BaseTableEditBtn
                  @click="editCategoryModal(props.row)"
              />
            </div>
          </div>
        </v-server-table>
      </div>
    </div>

    <modal name="add-category" :height="'auto'">

      <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
          <h3 class="card-title">Создание новой категории расхода</h3>
          <div class="card-toolbar">
            <div class="example-tools justify-content-center">

            </div>
          </div>
        </div>
        <form class="modal__task" @submit.prevent="createCost()">

          <div class="form-group">
            <label for="title">Название категории</label>
            <input type="text" v-model="new_category.slug" class="form-control" name="title" id="title">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Описание категории</label>
            <textarea class="form-control" v-model="new_category.description" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Создать</button>
        </form>
      </div>

    </modal>

    <modal name="edit-category" :height="'auto'">

      <div class="card card-custom gutter-b example example-compact">
        <div class="card-header">
          <h3 class="card-title">Редактирование категории</h3>
          <div class="card-toolbar">
            <div class="example-tools justify-content-center">

            </div>
          </div>
        </div>
        <form class="modal__task" @submit.prevent="editCategory()">
          <div class="form-group">
            <label for="title">Название проекта</label>
            <input type="text" v-model="edit_category.slug" class="form-control" name="title" id="title">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Описание проекта</label>
            <textarea class="form-control" v-model="edit_category.description" id="exampleFormControlTextarea1" rows="12"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
      </div>

    </modal>

  </div>
</template>

<script>

import {vueTableMixin} from '@/views/mixins/vueTableMixin';
import axios from "axios";

export default {

  name: 'Index',
  mixins: [vueTableMixin],

  data () {
    return {
      new_category: {},
      edit_category: {},
      url: '/cost/category',
      columns: [
        'id',
        'slug',
        'description',
        'actions'
      ],
      options: {
        headings: {
          slug: 'Название категории',
          description: 'Описание категории',
          actions: 'Действия'
        },
        filterable: false,
      }
    }
  },

  methods: {

    addCategory() {
      this.$modal.show('add-category');
    },

    createCost(){
      axios
          .post('/cost/category', this.new_category)
          .then( () => {
            this.$refs['cost-category-table'].refresh();
            this.$notify({
              title: 'Success',
              message: 'Категория успешно создана',
              type: 'success'
            });
            this.new_cost = {};
            this.$modal.hide('add-category');
          })
          .catch(() => {
            this.$notify.error({
              title: 'Error',
              message: 'Ошибка создания задачи'
            });
          });
    },

    editCategoryModal(row) {
      this.edit_category = row;
      this.$modal.show('edit-category');
    },

    editCategory() {
      axios
        .put('/cost/category/' + this.edit_category.id, this.edit_category)
        .then( () => {
          this.$refs['cost-category-table'].refresh()
          this.$notify({
            title: 'Success',
            message: 'Категория успешно отредактирована',
            type: 'success'
          })
          this.$modal.hide('edit-category');
        })
        .catch(() => {
          this.$notify.error({
            title: 'Error',
            message: 'Ошибка редактирования категории'
          });
        });
    },

  },

  mounted() {
  }

}
</script>

<style scoped>

.modal__task {
  margin: 20px;
}

</style>