#app {
    height:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active до версии 2.1.8 */ {
    transform: translateX(375px);
    opacity: 0;
}

#kt_subheader {
    transition: none !important;
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: 0.2s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(0.25, 0, 0.1, 1);
    overflow: hidden;
}
.slide-left-enter-active #kt_subheader,
.slide-left-leave-active #kt_subheader,
.slide-right-enter-active #kt_subheader,
.slide-right-leave-active #kt_subheader {
    visibility: hidden !important;
}

.slide-left-enter,
.slide-right-leave-active {
    opacity: 0;
    transform: translate(2em, 0);
}

.slide-left-leave-active,
.slide-right-enter {
    opacity: 0;
    transform: translate(-2em, 0);
}





.aside-menu .menu-nav > .menu-item.router-link-exact-active > .menu-heading,
.aside-menu .menu-nav > .menu-item.router-link-exact-active > .menu-link {
    background-color: #1b1b28;
}

.aside-menu .menu-nav > .menu-item.router-link-exact-active > .menu-heading .menu-icon,
.aside-menu .menu-nav > .menu-item.router-link-exact-active > .menu-link .menu-icon {
    color: #6993FF;
}

.aside-menu .menu-nav > .menu-item.router-link-exact-active > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item.router-link-exact-active > .menu-link .menu-text {
    color: #ffffff;
}

.aside-menu .menu-nav > .menu-item.router-link-exact-active > .menu-heading .menu-icon.svg-icon svg g [fill],
.aside-menu .menu-nav > .menu-item.router-link-exact-active > .menu-link .menu-icon.svg-icon svg g [fill],
.navi .navi-item .navi-link.router-link-exact-active .navi-icon svg g [fill]{
    -webkit-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
    fill: #6993FF;
}

.custom__dropdown .dropdown-menu {
    display:block;
}

.subheader__search {
    margin-right:100px;
}

.subheader__search .input-group .input-group-text {
    padding: 0.45rem 1rem
}

.dropdown__custom_integra_card {
    margin-top:10px;
    margin-right:10px;
}

.dropdown__custom_integra_card .dropdown-menu {
    left: auto !important;
}

.el-pagination {
    width:100%;
}
.el-pagination__sizes {
    float: right;
}

.el-notification__content > p {
    text-align: left;
}

.custom__navi .navi-text {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: #acacac;
}

.switch.switch-xs input:empty~span {
    margin: 2px 0;
    height: 18px;
    width: 30px;
    border-radius: 10px;
}
.switch.switch-xs input:empty~span:before {
    width: 30px;
    border-radius: 12px;
}

.switch.switch-xs input:empty~span:after {
    height: 14px;
    width: 14px;
    top: 2px;
    bottom: 2px;
    margin-left: 2px;
    font-size: .55em;
    text-align: center;
    vertical-align: middle;
}
.switch.switch-xs input:checked~span:after {
    margin-left: 16px;
}
.switch.switch-xs label {
    margin-bottom: 0;
}
.custom__navi .nav-link {
    margin-bottom: 0;
}

.custom__canvas {
    right: 0 !important;
    left: auto;
}

.navi .navi-item .navi-link.router-link-exact-active .navi-text{
    color: #5d78ff !important;
}

.accordion.accordion-toggle-arrow .card .card-header .card-title:after {
    display: none !important;
}

.el-collapse {
    border-top: 0 !important;
    border-bottom: 0 !important;
}
.accordion.accordion-light .card {
    border-top:0;
}

.login.login-4.login-signin-on .login-forgot {
    display: block;
}

.login.login-4.login-signin-on .login-signup {
    display: block;
}

.header-menu .menu-nav > .menu-item .menu-submenu {
    display: block
}


.modal__custom .card-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1.5rem;
    border-top: 1px solid #ECF0F3;
    border-bottom-right-radius: 0.42rem;
    border-bottom-left-radius: 0.42rem;
}

.modal__custom .card-footer > * {
    margin: 0.25rem;
}

.vm--modal {
    top: 5% !important;
}

.ms__block {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
}
.ms__block .overlay__bg {
    background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    z-index: 10001;
}
.ms__block .ms__card {
    width: 70vw;
    height: 100vh;
    position: absolute;
    top:0;
    right: 0;
    background: #fff;
    padding: 50px 30px;
}

.close__link {
    font-size: 22pt;
    font-weight: lighter;
    left:20px;
    top: 10px;
    position: absolute;
    z-index: 100
}

.invalid-feedback {
    display: block;
}

.el-notification {
    z-index: 10000 !important;
}
.el-picker-panel {
    z-index:10000 !important;
}




.new_event.new_event-primary {
    color: #FFFFFF;
    background-color: #6993FF; }
.new_event.new_event-outline-primary {
    background-color: transparent;
    color: #6993FF;
    border: 1px solid #6993FF; }
.new_event.new_event-outline-primary.new_event-outline-2x {
    border: 2px solid #6993FF; }
.new_event.new_event-light-primary {
    color: #6993FF;
    background-color: #E1E9FF; }
.new_event.new_event-secondary {
    color: #464E5F;
    background-color: #E5EAEE; }
.new_event.new_event-outline-secondary {
    background-color: transparent;
    color: #464E5F;
    border: 1px solid #E5EAEE; }
.new_event.new_event-outline-secondary.new_event-outline-2x {
    border: 2px solid #E5EAEE; }
.new_event.new_event-light-secondary {
    color: #E5EAEE;
    background-color: #ECF0F3; }
.new_event.new_event-success {
    color: #ffffff;
    background-color: #1BC5BD; }
.new_event.new_event-outline-success {
    background-color: transparent;
    color: #1BC5BD;
    border: 1px solid #1BC5BD; }
.new_event.new_event-outline-success.new_event-outline-2x {
    border: 2px solid #1BC5BD; }
.new_event.new_event-light-success {
    color: #1BC5BD;
    background-color: #C9F7F5; }
.new_event.new_event-info {
    color: #ffffff;
    background-color: #8950FC; }
.new_event.new_event-outline-info {
    background-color: transparent;
    color: #8950FC;
    border: 1px solid #8950FC; }
.new_event.new_event-outline-info.new_event-outline-2x {
    border: 2px solid #8950FC; }
.new_event.new_event-light-info {
    color: #8950FC;
    background-color: #EEE5FF; }
.new_event.new_event-warning {
    color: #ffffff;
    background-color: #FFA800; }
.new_event.new_event-outline-warning {
    background-color: transparent;
    color: #FFA800;
    border: 1px solid #FFA800; }
.new_event.new_event-outline-warning.new_event-outline-2x {
    border: 2px solid #FFA800; }
.new_event.new_event-light-warning {
    color: #FFA800;
    background-color: #FFF4DE; }
.new_event.new_event-danger {
    color: #ffffff;
    background-color: #F64E60; }
.new_event.new_event-outline-danger {
    background-color: transparent;
    color: #F64E60;
    border: 1px solid #F64E60; }
.new_event.new_event-outline-danger.new_event-outline-2x {
    border: 2px solid #F64E60; }
.new_event.new_event-light-danger {
    color: #F64E60;
    background-color: #FFE2E5; }
.new_event.new_event-light {
    color: #80808F;
    background-color: #F3F6F9; }
.new_event.new_event-outline-light {
    background-color: transparent;
    color: #464E5F;
    border: 1px solid #F3F6F9; }
.new_event.new_event-outline-light.new_event-outline-2x {
    border: 2px solid #F3F6F9; }
.new_event.new_event-light-light {
    color: #F3F6F9;
    background-color: #F3F6F9; }
.new_event.new_event-dark {
    color: #ffffff;
    background-color: #212121; }
.new_event.new_event-outline-dark {
    background-color: transparent;
    color: #212121;
    border: 1px solid #212121; }
.new_event.new_event-outline-dark.new_event-outline-2x {
    border: 2px solid #212121; }
.new_event.new_event-light-dark {
    color: #212121;
    background-color: #D6D6E0; }
.new_event.new_event-white {
    color: #464E5F;
    background-color: #ffffff; }
.new_event.new_event-outline-white {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff; }
.new_event.new_event-outline-white.new_event-outline-2x {
    border: 2px solid #ffffff; }
.new_event.new_event-light-white {
    color: #ffffff;
    background-color: #ffffff; }
.new_event.new_event-dark-75 {
    color: #ffffff;
    background-color: #464E5F; }
.new_event.new_event-outline-dark-75 {
    background-color: transparent;
    color: #464E5F;
    border: 1px solid #464E5F; }
.new_event.new_event-outline-dark-75.new_event-outline-2x {
    border: 2px solid #464E5F; }
.new_event.new_event-light-dark-75 {
    color: #464E5F;
    background-color: #E5EAEE; }