<template>
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">Ключи платежных систем</h3>
            <div class="card-toolbar">
                <div class="example-tools justify-content-center">

                </div>
            </div>
        </div>        
        <form>
            <div class="card-body">                
                <BaseSelect     
                    :disabled="true"               
                    :label="'Сервис *'"
                    :options='services'
                    :error="errors.get('service_title')"
                    v-model="form.service_title"
                />
                <template v-if="form.service_title == 'qiwi'">
                    <BaseTextarea
                        rows="3"
                        :label="'Public key *'"
                        :error="errors.get('data.public_key')"
                        v-model="form.data.public_key"
                    />

                    <BaseTextarea
                        rows="3"
                        :label="'Secret key *'"
                        :error="errors.get('data.secret_key')"
                        v-model="form.data.secret_key"
                    />
                </template>
                <template v-if="form.service_title == 'payeer'">
                    <BaseInput
                        type="text"
                        :label="'Merchant ID *'"
                        :error="errors.get('data.shop_id')"
                        v-model="form.data.shop_id"
                    />

                    <BaseTextarea
                        rows="3"
                        :label="'Secret key *'"
                        :error="errors.get('data.secret_key')"
                        v-model="form.data.secret_key"
                    />
                </template>
                <template v-if="form.service_title == 'blockchain'">
                    <div class="row">
                        <div class="col-6">
                            <a herf="#" class="btn btn-primary btn-block" @click.prevent="showWalletInfo('btc')">
                                <i class="fa fa-bitcoin"></i>BTC</a>
                        </div>
                        <div class="col-6">
                            <a herf="#" class="btn btn-primary btn-block" @click.prevent="showWalletInfo('eth')">ETH</a>
                        </div>
                    </div>
                </template>
            </div>
            <div class="card-footer">
                <BaseButton 
                    :disabled="isProcess"
                    :loading="isProcess"
                    @click.prevent="save()"
                    >Сохранить</BaseButton>
                <BaseButton btnClass="btn-secondary" @click.prevent="$modal.hide('keys-form')">Отменить</BaseButton>
            </div>
        </form>    
        <modal name="wallet-info" height="auto" :adaptive="true">
            <WalletInfo
                :settings="settings"
                :currency="currency"
            />
        </modal>   
    </div>
</template>

<script>

import {Errors} from '@/classes/Errors';
import { mapGetters } from 'vuex';
import WalletInfo from './WalletInfo';

export default {
    props: ['settings'],

    name: 'Form',
    components: {
        WalletInfo
    },

    computed: {
        ...mapGetters('accessKeys', {
            services: 'getServiceOptions'
        })
    },

    data () {
        return {            
            errors: new Errors(),
            isProcess: false,
            form: this.initForm(),
            currency: null
        }
    },
    methods: {

        initForm() {
            return {
                service_title: this.settings.service_title,
                data: this.providerData(this.settings.service_title)
            }
        },

        providerData(provider) {
  
            if (provider == 'qiwi') {
                return {
                    public_key: null,
                    secret_key: null
                }
            }

            if (provider == 'payeer') {
                return {
                    shop_id: null,
                    secret_key: null
                }
            }

            return {
                public_key: null,
                secret_key: null
            }
        },

        save(){
            if (this.isProcess) return;

            let method = this.settings ? 'put' : 'post'
            let url = this.settings ? '/admin/manage-settings/' + this.settings.id : '/admin/manage-settings'

            this.isProcess = true;

            this.$axios[method](url, this.form).then(() => {
                this.$modal.hide('keys-form');
                this.$emit('onSave');
                this.isProcess = false;
            }).catch(errors => {
                this.isProcess = false;
                this.$notify.error({
                    message: 'Ошибка сохранения товара'
                });
                this.errors.set(errors.response.data.errors);
            })
        },

        showWalletInfo(currency) {
            this.currency = currency;
            this.$modal.show('wallet-info')
        }
    },

    created() {

        if (this.settings && Object.keys(this.settings.data).length > 0) {        
            this.form = Object.assign({}, this.initForm(), this.settings);
        }

        this.$store.dispatch('accessKeys/getServices')
    }
}
</script>

<style lang="css" scoped>
</style>