<template>
	<div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">Кошелек {{currency}}</h3>
            <div class="card-toolbar">
                <div class="example-tools justify-content-center">

                </div>
            </div>
        </div>        
        
        <div class="card-body">
            <div class="alert alert-danger" role="alert" v-if="info.status == 'fail'">
				Не удалось загрузить данные
			</div>
			<template v-if="info.status == 'ok'">
				<div class="row">
					<label class="form-check">Минимальная сумма заказа для оплаты {{currency}}</label>
					<div class="col-9">
				<BaseInput						
                        type="text"
                        
                        
                        v-model="form.data[currency].min_price_limit"
                    />
                </div>
                <div class="col-3">
                <BaseButton
                    :disabled="isProcess"
                    :loading="isProcess"
                    @click.prevent="save()"
                    >Сохранить</BaseButton>
                </div>
                </div>
				<div class="mb-7">
					<div class="d-flex justify-content-between align-items-center mt-5">
						<span class="text-dark-75 font-weight-bolder mr-2">ID:</span>
						<a href="#" class="text-muted text-hover-primary">{{info.wallet_id}}</a>
					</div>
					<div class="d-flex justify-content-between align-items-center mt-5">
						<span class="text-dark-75 font-weight-bolder mr-2">Баланс:</span>
						<a href="#" class="text-muted text-hover-primary">{{info.balance_amount}}</a>
					</div>
					<div class="d-flex justify-content-between align-items-center mt-5">
						<span class="text-dark-75 font-weight-bolder mr-2">Количество платежных адресов:</span>
						<a href="#" class="text-muted text-hover-primary">{{info.address_count}}</a>
					</div>
				</div>
				<BaseButton 
					class="btn btn-block btn-sm btn-light-primary font-weight-bolder text-uppercase py-4"
                    :disabled="isProcessPayout"
                    :loading="isProcessPayout"
                    @click.prevent="payout()"
                    >Вывести</BaseButton>			
			</template>
        </div>
    </div>
</template>

<script>
	


	export default {
		props: {
			currency: String,
			settings: Object
		},
		data(){

			return {
				isProcess: false,
				isProcessPayout: false,
				form: this.initForm(),
				info: {
					status: 'process'
				},

			}
		},

		methods:{

			initForm() {
				return {
					service_title: this.settings.service_title,
					data: {
						btc: {
							min_price_limit: 2000
						},
						eth: {
							min_price_limit: 1500
						},
					}
				}
			},

			getInfo(){
				this.$axios.get(`admin/crypto-wallet/${this.currency}/info`).then(response => {					
					this.info = Object.assign({}, response.data);
				}).catch(error => {
					console.log(error);
					this.info.status = 'fail';
				})
			},

			save(){
				if (this.isProcess) return;

				let method = this.settings ? 'put' : 'post'
				let url = this.settings ? '/admin/manage-settings/' + this.settings.id : '/admin/manage-settings'

				this.isProcess = true;

				this.$axios[method](url, this.form).then(() => {

					this.isProcess = false;
				}).catch(errors => {
					this.isProcess = false;
					this.$notify.error({
					message: 'Ошибка сохранения товара'
				});
					this.errors.set(errors.response.data.errors);
				})
			},


			payout(){

				if (this.isProcessPayout) return;

				this.isProcessPayout = true;

				this.$axios.post(`admin/crypto-wallet/${this.currency}/payout`, {'amount': this.info.balance_amount}).then(response => {		
					this.isProcessPayout = false;			
					console.log(response);
					if (response.data.status == 'fail') {
						this.$notify.error({
							message: response.data.message
						});
						return
					}

					this.$notify.success({
						message: response.data.message
					});
				}).catch(error => {
					this.isProcessPayout = false
					console.log(error.data);
					this.$notify.error({
						message: 'Server error'
					})
					
				})
			}
		},

		mounted(){
			this.getInfo()
		},

		created() {

			if (this.settings && Object.keys(this.settings.data).length > 0) {        
				this.form = Object.assign({}, this.initForm(), this.settings);
			}

		}
	}

</script>