<template>

    <div class="login-signup">
        <div class="mb-20">
            <h3 class="opacity-40 font-weight-normal">Sign Up</h3>
            <p class="opacity-40">Enter your details to create your account</p>
        </div>
        <form class="form text-center" @submit.prevent="register">
            <div class="form-group" v-bind:class="{'fv-plugins-icon-container has-danger': errors.name}">
                <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="text"
                       placeholder="ФИО"
                       v-bind:class="{'is-invalid': errors.name}"
                       v-model="form.name"
                />
                <div class="fv-plugins-message-container" v-if="errors.name">
                    <div class="fv-help-block">{{errors.name}}</div>
                </div>
            </div>
            <div class="form-group" v-bind:class="{'fv-plugins-icon-container has-danger': errors.email}">
                <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="text"
                       placeholder="Email"
                       v-bind:class="{'is-invalid': errors.email}"
                       v-model="form.email"
                />
                <div class="fv-plugins-message-container" v-if="errors.email">
                    <div class="fv-help-block">{{errors.email}}</div>
                </div>
            </div>
            <div class="form-group" v-bind:class="{'fv-plugins-icon-container has-danger': errors.password}">
                <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8"
                       v-bind:class="{'is-invalid': errors.password}"
                       type="password" placeholder="Пароль" v-model="form.password"/>
                <div class="fv-plugins-message-container" v-if="errors.password">
                    <div class="fv-help-block">{{errors.password}}</div>
                </div>
            </div>
            <div class="form-group">
                <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8"
                       type="password" placeholder="Confirm Password" v-model="form.password_confirmation"/>
            </div>
            <div class="form-group">
                <button id="kt_login_signup_submit" class="btn btn-pill btn-primary opacity-90 px-15 py-3 m-2" v-bind:class="{'spinner spinner-darker-white spinner-left': isProcess}">
                    Sign Up
                </button>
                <button id="kt_login_signup_cancel" class="btn btn-pill btn-outline-white opacity-70 px-15 py-3 m-2"
                        @click="$parent.$data.activeForm = 'login'">Cancel
                </button>
            </div>
        </form>
    </div>

</template>


<script>

    export default {

        data() {
            return {
                form: {},
                errors: {},
                isProcess: false
            }
        },

        methods: {
            register() {
                if(this.isProcess) {return}
                this.isProcess = true;
                this.errors = {};
                this.$axios.post('/auth/registration', this.form).then(() => {
                    this.isProcess = false;
                }, (response) => {
                    this.errors = response.response.data.errors;
                    this.isProcess = false;
                })
            },
        },

        mounted() {

        }

    }

</script>